<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel="stylesheet" href="style/common/index.css?{{ hash }}">
    <% css && css.length && css.forEach(function(link){ %>
        <link rel="stylesheet" href='<%= link %>'>
    <% }) %>
    <% js && js.length && js.forEach(function(link){ %>
        <script src="<%= link %>"></script>
    <% }) %>
    <!-- build:css -->
    <!-- endbuild -->
    <!-- build:inlineCss -->
    <!-- endbuild -->
</head>